{{>licenseInfo}}
package {{apiPackage}}

{{#imports}}import {{import}}
{{/imports}}

import io.reactivex.Completable
import io.reactivex.Single
import retrofit2.http.DELETE
import retrofit2.http.GET
import retrofit2.http.POST
import retrofit2.http.PUT
import retrofit2.http.Body
import retrofit2.http.Query
import retrofit2.http.Path
import retrofit2.http.Header
import retrofit2.http.Headers

{{#operations}}
interface {{classname}} {
{{#operation}}
    {{#contents}}
    /**
    * {{summary}}
    * {{notes}}
    {{#parameters}}* @param {{paramName}} {{description}} {{^required}}(optional{{#defaultValue}}, default to {{{.}}}{{/defaultValue}}){{/required}}
    {{/parameters}}* @return {{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}}
    */
    {{#hasFormParams}}
    @Headers("Content-Type: multipart/form-data")
    {{/hasFormParams}}
    @{{upper httpMethod}}("{{path}}")
    fun {{operationId}}(
        {{#allParams}}
            {{annotation this}} {{paramName}}: {{{dataType}}}{{#hasMore}},{{/hasMore}}
        {{/allParams}}
    ) : {{#returnType}}Single<{{{returnType}}}>{{/returnType}}{{^returnType}}Completable{{/returnType}}

    {{/contents}}
{{/operation}}
}
{{/operations}}