{{>licenseInfo}}
package {{apiPackage}}

{{#imports}}import {{import}}
{{/imports}}

import io.reactivex.Completable
import io.reactivex.Single
import retrofit2.http.DELETE
import retrofit2.http.GET
import retrofit2.http.POST
import retrofit2.http.PUT
import retrofit2.http.Body
import retrofit2.http.Query
import retrofit2.http.Path
import retrofit2.http.Headers

{{#operations}}
interface {{classname}} {
{{#operation}}
    {{#contents}}
    /**
    * {{summary}}
    * {{notes}}
    {{#parameters}}* @param {{paramName}} {{description}} {{^required}}(optional{{#defaultValue}}, default to {{{.}}}{{/defaultValue}}){{/required}}
    {{/parameters}}* @return {{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}}
    */

    {{#hasHeaderParams}}
    @Headers(
    {{#hasFormParams}}
        "Content-Type: multipart/form-data",
    {{/hasFormParams}}
    {{#headerParams}}
        "{{baseName}}: {{paramName}}"{{#hasMore}},{{/hasMore}}
    {{/headerParams}}
    )
    {{/hasHeaderParams}}

    @{{upper httpMethod}}("{{path}}")
    fun {{operationId}}(
        {{#pathParams}}
        @Path("{{baseName}}") {{paramName}}: {{{dataType}}}{{#hasMore}},{{/hasMore}}
        {{/pathParams}}
        {{#hasBodyParam}}
        {{#bodyParams}}
        @Body {{paramName}}: {{{dataType}}}{{#hasMore}},{{/hasMore}}
        {{/bodyParams}}
        {{/hasBodyParam}}
        {{#hasQueryParams}}
        {{#queryParams}}
        @Query("{{baseName}}") {{paramName}}: {{{dataType}}}{{#hasMore}},{{/hasMore}}
        {{/queryParams}}
        {{/hasQueryParams}}
        {{#parameters}}{{paramName}}: {{{dataType}}}{{#hasMore}},{{/hasMore}}{{/parameters}}
    ) : {{#returnType}}Single<{{{returnType}}}>{{/returnType}}{{^returnType}}Completable{{/returnType}}

    {{/contents}}
{{/operation}}
}
{{/operations}}